---
import SimpleLayout from "../layouts/SimpleLayout.astro";
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const articles = await getCollection('lesson')
---


<SimpleLayout>
  <h4>Уроки</h4>
  <section>
    <ul>
      {
        articles.map((lesson) => (
          <li>
            <a href={`/lesson/${lesson.slug}/`}>
              <h5 class="title">{lesson.data.title}</h5>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</SimpleLayout>

<style locals>
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
</style>
